---
import { getCollection } from "astro:content";
import ArticleCard from "../../components/ArticleCard.astro";
import NonIndexLayout from "../../layouts/NonIndexLayout.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf(),
);
const title = "posts | kyoheiu.dev";
---

<NonIndexLayout title={title}>
  <div class="sm:grid sm:grid-cols-2 sm:gap-4">
    {posts.map((post) => <ArticleCard post={post} />)}
  </div>
</NonIndexLayout>
