---
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import Top from "../components/Top.svelte";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="kyoheiu.dev" />
	</head>
	<body>
        <Top />
    </body>
</html>
