---
import NonIndexLayout from "./NonIndexLayout.astro";

---

<NonIndexLayout title="felix">
    <div
      class="prose
				prose-invert
				prose-h1:border-b
				prose-h2:border-b
				prose-table:table-fixed
				prose-a:text-sky-300
	            my-6
                  break-words
                  "
    >
      <slot />
    </div>
</NonIndexLayout>

