---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.svelte";
const { title } = Astro.props;
---

<html>
  <head>
    <BaseHead title={title} | kyoheiu.dev` />
  </head>
  <body class="bg-slate-900 text-slate-50 mb-6">
    <Header />
    <slot />
  </body>
</html>
