---
import IndexLayout from "./IndexLayout.astro";
const { title } = Astro.props;
---

<style>
  .mainWrapper {
    max-width: 800px;
    padding: 16px;
    margin: 0 auto;
    margin-top: 48px;
  }
</style>

<IndexLayout title={title}>
  <main class="mainWrapper">
    <slot />
  </main>
</IndexLayout>
