---
import IndexLayout from "./IndexLayout.astro";
const { title } = Astro.props;
---

<IndexLayout title={title}>
  <main class="items-center pt-16 px-2 w-full sm:w-3/4 sm:max-w-3xl mx-auto">
    <slot />
  </main>
</IndexLayout>
