---
import IndexLayout from "./IndexLayout.astro";
const {title} = Astro.props;
---

<IndexLayout title={title}>
  <main class="items-center pt-16 px-2 w-full sm:w-2/3 sm:max-w-2xl mx-auto">
    <slot />
  </main>
</IndexLayout>
